body{
    background-color: black;
    h1{
     background-color: lightblue;
     color: black;
     text-align: center;
    }
    
    .container{
        background-color: lightgrey;
        color: black;
        margin: 100px;
        padding: 50px;
        margin-top:0px;
        padding-top: 0px;
    }
    input{
        background-color: lightblue;
        height: 20px;
        width: 500px;
        margin-bottom: 10px;
    }
    label {
        color: black;
    }    
    button{
        background-color: black;
        color: white;
        height: 50px;
        width: 200px;
    }
}